<nav class="folder-nav" aria-label="Main navigation">
  <ul class="folder-tabs">
    <li>
      <a href="index.html" class="folder-tab" data-nav="home"><span class="tab-label">{{name}}</span></a>
    </li>
    <li>
      <a href="about.html" class="folder-tab" data-nav="about"><span class="tab-label">About</span></a>
    </li>
    <li>
      <a href="projects.html" class="folder-tab" data-nav="projects"><span class="tab-label">Projects</span></a>
    </li>
    <li>
      <a href="contact.html" class="folder-tab" data-nav="contact"><span class="tab-label">Contact</span></a>
    </li>
  </ul>
</nav>
